# Pivot

In [2]:
import pandas as pd

path = '/home/shady/Projects/AI_lab/Data/merged_cleaned_FE_imputed(v).csv'
df = pd.read_csv(path)

df

,Date,StoreID,ProductID,Quantity,Price_imputed,Year,Month,DayoftheMonth,WeekoftheMonth,DayoftheWeek,...,isWeekend,isWeekStart,isWeekEnd,isMonthStart,isMonthEnd,Season_Autumn,Season_Spring,Season_Summer,Season_Winter,isHoliday
0,2022-05-09,4051653300272,4260705920010,1.0,3.99,2022,5,9,2,2,...,False,False,False,False,False,0,1,0,0,False
1,2022-05-09,4051653300272,4260705920423,1.0,4.99,2022,5,9,2,2,...,False,False,False,False,False,0,1,0,0,False
2,2022-05-09,4051653300272,4260705920416,2.0,5.99,2022,5,9,2,2,...,False,False,False,False,False,0,1,0,0,False
3,2022-05-09,4051653300272,4260705920324,2.0,9.99,2022,5,9,2,2,...,False,False,False,False,False,0,1,0,0,False
4,2022-05-09,4051653300272,4260705920317,1.0,9.99,2022,5,9,2,2,...,False,False,False,False,False,0,1,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30459,2023-02-04,4051653300319,4260705920478,0.0,13.99,2023,2,4,1,4,...,True,False,False,False,False,0,0,0,1,False
30460,2023-02-04,4051653300319,4260705920256,0.0,7.99,2023,2,4,1,4,...,True,False,False,False,False,0,0,0,1,False
30461,2023-02-04,4051653300319,4260705920126,0.0,8.99,2023,2,4,1,4,...,True,False,False,False,False,0,0,0,1,False
30462,2023-02-04,4051653300319,4260705920461,0.0,7.99,2023,2,4,1,4,...,True,False,False,False,False,0,0,0,1,False
30463,2023-02-04,4051653300319,4260705920492,0.0,8.49,2023,2,4,1,4,...,True,False,False,False,False,0,0,0,1,False

In [3]:

df_pivot = df.pivot(index="Date", columns="ProductID", values="Quantity")

# sum each row to get total sales for each day and save to a new column total_quantity_day
df_pivot['total_quantity_day'] = df_pivot.sum(axis=1)
df_pivot

ValueError: Index contains duplicate entries, cannot reshape

# Weather

In [71]:
wpath = '/home/shady/Projects/AI_lab/Data/weather.csv'
weather = pd.read_csv(wpath)
weather

,time,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),shortwave_radiation_sum (MJ/m²),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),et0_fao_evapotranspiration (mm)
0,2022-05-09,1,21.1,4.0,13.7,0.9,19.4,11.3,2022-05-09T04:27,2022-05-09T20:05,25.93,0.0,0.0,0.0,0.0,13.4,27.0,319,4.64
1,2022-05-10,53,23.5,11.9,17.3,9.5,21.9,15.5,2022-05-10T04:25,2022-05-10T20:07,14.00,1.5,1.5,0.0,4.0,20.7,45.4,234,3.89
2,2022-05-11,51,21.2,10.2,15.2,11.0,19.5,14.6,2022-05-11T04:23,2022-05-11T20:09,15.39,1.1,1.1,0.0,5.0,24.2,54.7,204,3.38
3,2022-05-12,51,17.7,10.0,13.9,7.4,14.4,11.0,2022-05-12T04:21,2022-05-12T20:10,17.70,0.9,0.9,0.0,5.0,29.3,55.1,181,3.35
4,2022-05-13,53,16.9,8.7,12.9,6.5,12.9,10.2,2022-05-13T04:20,2022-05-13T20:12,16.79,2.3,2.3,0.0,10.0,25.6,64.1,194,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2023-01-31,53,6.7,3.3,4.4,-1.5,1.8,-0.2,2023-01-31T08:05,2023-01-31T17:01,0.80,5.2,5.2,0.0,18.0,30.7,75.6,266,0.48
268,2023-02-01,61,4.9,3.6,4.2,-1.7,0.6,-0.8,2023-02-01T08:03,2023-02-01T17:03,1.68,10.9,10.9,0.0,22.0,31.4,66.2,270,0.65
269,2023-02-02,61,7.0,3.9,4.9,-0.4,4.0,1.3,2023-02-02T08:01,2023-02-02T17:05,4.28,3.8,3.8,0.0,11.0,30.7,63.4,281,0.68
270,2023-02-03,61,8.0,4.6,6.9,0.3,2.8,1.5,2023-02-03T08:00,2023-02-03T17:07,3.22,6.7,6.7,0.0,15.0,37.7,78.5,285,0.90
271,2023-02-04,3,4.1,-0.4,1.9,-3.7,1.5,-1.0,2023-02-04T07:58,2023-02-04T17:09,4.35,0.0,0.0,0.0,0.0,16.0,34.2,56,0.48

# New Feature Engineering

                                                                                                                                                                                                 Quantity  \
Date       Year Month DayoftheMonth WeekoftheMonth DayoftheWeek WeekoftheYear DayoftheYear isWeekend isWeekStart isWeekEnd isMonthStart isMonthEnd Season isHoliday StoreID       ProductID
2022-05-09 2022 5     9             2              2            19            129          False     False       False     False        False      Spring False     4051653300272 4260705920010       1.0
                                                                                                                                                                                  4260705920423       1.0
                                                                                                                                                                                  4260705920416       2.0
                                                                                                                                                                                  4260705920324       2.0
                                                                                                                                                                                  4260705920317       1.0
                                                                                                                                                                                  4260705920300       1.0
                                                                                                                                                                                  4260705920294       4.0
                                                                                                                                                                                  4260705920249       2.0
                                                                                                                                                                                  4260705920195       1.0
                                                                                                                                                                                  4260705920027       1.0

                                                                                                                                                                                                 Price_imputed
Date       Year Month DayoftheMonth WeekoftheMonth DayoftheWeek WeekoftheYear DayoftheYear isWeekend isWeekStart isWeekEnd isMonthStart isMonthEnd Season isHoliday StoreID       ProductID
2022-05-09 2022 5     9             2              2            19            129          False     False       False     False        False      Spring False     4051653300272 4260705920010           3.99
                                                                                                                                                                                  4260705920423           4.99
                                                                                                                                                                                  4260705920416           5.99
                                                                                                                                                                                  4260705920324           9.99
                                                                                                                                                                                  4260705920317           9.99
                                                                                                                                                                                  4260705920300          14.99
                                                                                                                                                                                  4260705920294          14.99
                                                                                                                                                                                  4260705920249           3.99
                                                                                                                                                                                  4260705920195           4.99
                                                                                                                                                                                  4260705920027           3.49